{
  "htmlWhitespaceSensitivity": "strict",
  "jsxBracketSameLine": true,
  "bracketSameLine": true,
  "bracketSpacing": true,
  "singleQuote": false,
  "trailingComma": "all",
  "arrowParens": "avoid"
}
