/* @import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000"); */
@import url("https://fonts.googleapis.com/css2?family=Fira+Code:wght@300..700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");

@import "tailwindcss";
@source "./src/data/pages/*.json";
@source "./data/pages/*.json";

@plugin "daisyui" {
  themes:
    corporate --default,
    dracula --prefersdark;
}

body {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  text-rendering: optimizeLegibility;
  @apply bg-gray-50;
  @apply tracking-wide;

  padding-top: env(safe-area-inset-top);
  padding-bottom: env(safe-area-inset-bottom);
  padding-left: env(safe-area-inset-left);
  padding-right: env(safe-area-inset-right);
}

#nprogress .bar {
  /* background: #0BA6DF !important; */
  background: #3396d3 !important;
  height: 5px !important;
}

.font-mono {
  letter-spacing: -0.01em;
  font-family: "Fira Code", monospace;
}
